.expense-item-wrapper {
  display: flex;
  align-items: center;
}

.expense-name {
  font-size: 20px;
  font-weight: 700;
}

.expense-amount {
  background-color: red;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-left: auto;
}